.title {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 100px;
    color: white;
}

body {
    background-color: rgb(94, 82, 82);
}

nav {
    width: auto;
    height: 150px;
    background-color: rgb(94, 82, 82);
}

ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

ul li a {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    text-indent: 50%;
    display: none;
}

ul li a:hover {
    color: red;
}